@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Poppins', sans-serif;
}
#list{
	
	position: absolute;
	right: 0;
	
}

.welcomeToPristineWashText{
    margin-top: 100px;
    font-weight: 400;
    font-size: 40px;
    color: white;
}

.banner {
    padding-top: 100px;
    height :900px;    
    background-image: url("/img/wave.svg");
    background-repeat: no-repeat;
    background-size: cover
    /* background: linear-gradient(90deg, rgba(38,237,156,1) 0%, rgba(38,237,156,1) 44%, rgba(11,172,239,1) 100%); */
}

.bannerImg {
    padding: 100px;
    padding-top: 1px;
    padding-bottom: 20px;
}

#scheduleButton{
    color: #121D3A; /* Text color */
    border-color: #121D3A !important; /* Outline color */
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 100px;
}

#scheduleButton:hover {
    font-weight: 500;
    background-color: #121D3A; /* Background color on hover */
    color: #fff; /* Text color on hover */
}


#callUs{
    margin-top: 20px;
    padding: 10px;
    padding-left: 95px;
    padding-right: 95px;
    border-radius: 100px;
}

.offerCol{
    /* background-color: #16C0EA; */
    background-color: #121D3A;
}

.offerCol p {
    color: white;
    font-size: medium;
    font-weight: 400;
}

  

.bi-telephone-inbound-fill{
    padding-left: 20px;
}

.ourServicesText{
    margin-top: 30px;
    font-size: xx-large;

}

.ourServiceOptions {
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size :medium;

}


.serviceStart{
    margin-top: 20px;
}

.card{
    border: 0;
  padding-bottom: 25px;
  padding-top: 25px;
  border-radius: 10px;
}
.hover-effect:hover {
    background: #121D3A;
    /* background: linear-gradient(171deg, rgba(60,231,220,1) 0%, rgba(129,145,254,1) 100%); */
    transition: background-color 0.5s;
}

.hover-effect:hover h5 {
    color: white;
    transition: background-color 0.2s;
}
.card h5 {
    margin-bottom: 20px;
    color: black;
}

.serviceImage{
    height: 100px;
    width: 100px;
}

.line-through {
    position: relative;
  }
  
.line-through:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 2px solid red; /* Adjust border properties as needed */
}

.testimonialHeading{
    margin-top: 70px;
    font-size: xx-large;
}

.testimonialCard{
	margin-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
    background-color: #8499F3;
	/* background: rgb(255,207,49);
    background: linear-gradient(90deg, rgba(255,207,49,1) 0%, rgba(255,141,71,1) 100%); */
	border-radius: 20px;
}

.testimonialCard img{
	border-radius: 500px;
	height: 80px;
	border: 7px solid white;
	margin: 20px;
}

.testimonialName{
	font-weight: 900;
    color: white;
}

.testimonialText{
	text-align: justify;
	font-size: small;
	color: white;
}

.footer{
    margin-top: 100px;
}


@media only screen and (max-width:600px) {

    .card{
        margin-bottom: 20px;
        border: 0;
      }

      .welcomeToPristineWashText{
        margin-top: 80px;
        font-weight: 400;
        font-size: 20px;
        color: white;
    }

    .banner {
        padding-top: 100px;
        height :fit-content;
        padding-bottom: 80px;
    }
    .bannerImg {
        margin-bottom: 20px;
        padding: 0px;
    }

    .serviceImage{
        height: 70px;
        width: 70px;
    }
 
   .oneClickWash{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
}
}

.float{
	position: fixed;
	right: 40px;
	bottom: 20px;
}

.whatsappIcon{
	color: #4FCE5D;
	font-size: xx-large;

}
.float p{
	font-size: x-small;
	color: #4cb5fd;
	font-weight: 700;
}